Yannik Sahl <yanniksahl@outlook.de>  
Baris Tikir <brstkr@users.noreply.github.com> s0568480 <baris.tikir@student.htw-berlin.de>  
Emircan Yüksel <emir-00@live.de> s0569171 <emircan.yueksel@student.htw-berlin.de>  
